/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2023, 6:00:01 PM
    Author     : laxsana
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

*{
    font-family: 'Roboto';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
 }
.title{
    text-align: center;
    margin:20px;
    text-transform: uppercase;
    color:#000000;
    font-size: 30px;
 }
 a{
    text-decoration: none;  
 }
 
/* .home{
    height: 500px;
    background-image: url(images/a.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home .content{
    text-align: center;
    width: 600px;
 }*/
 .head{
     display:overflow;
     justify-content: space-between;
     background-color: #c9b68f;
     
 }
 
#user-btn {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#log {
    margin-left: auto; 
    padding: 20px; 
}
 
 .home .content h3{
    font-size:50px;
    color:white;
    text-transform: uppercase;
    background-color:#00241f;
    padding: 20px;
    border-radius: 40px 0;
    
 }
.box-container table tr td, th{
    padding:10px;
}
table, tr ,th,  td{
    border:1px solid #000000;
    border-collapse: collapse;
    text-align: center;
    padding:2px;
}

.center {
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 0 0 10px 3px #000000;
}

.dec{    
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-between;

}

.dec a{
    
    color:white;
    padding : 70px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.dec .box1 {
    background-color:#6F1E51;
}
.dec .box2 {
    background-color:#01017a;
}
.dec .box3 {
    background-color:#cf000f ;
}
.form {
    height: 500px;
    padding: 20px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 10px rgba(0, 0, 0, .1);
    border: 10px solid #00241f;
    background-color: rgb(173,216,230);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform:capitalize;
    color:black;
}

.form .box{
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding:12px 14px;
    font-size: 18px;
    color:black;
    border:1px solid black;
    margin:10px 0;
}

.form p{
    padding-top: 15px;
    font-size: 20px;
    color:black;
}

.form p a{
    color:#6F1E51;
    font-weight: bold;
}

.form p a:hover{
    text-decoration: underline;
}
* .home-btn{
    display: inline-block;
    margin-top: 10px;
    padding:10px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    text-transform: capitalize;
}
.home-btn:hover{
    background-color: lightgray;
    color:black;
}
.home-btn{
    background-color:#01017a;
}
.products .box-container{
    max-width: 1500px;
    margin:0 auto;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    align-items: flex-start;
    gap:20px;
    justify-content: center;
}

.products .box-container .box{
    background-color: white;
    box-shadow: 0 0 30px 20px rgba(0,0,0,.1);
    border-radius: 20px;
    padding:20px;
    text-align: center;
    position: relative;
}

.products .box-container .box .image{
    height:200px;
    width:200px;
}

.products .box-container .box .name{
    padding:10px 0;
    font-size: 20px;
    color:black;
}

.products .box-container .box .price{
    position: absolute;
    top:10px; 
    left:10px;
    border-radius:5px;
    padding:10px;
    font-size: 25px;
    color:white;
    background-color:#01017a;
}

.delete-btn{
    background-color: #eb2f06;
    display: inline-block;
    margin-top: 10px;
    padding:10px 50px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    text-transform: capitalize;
}
.delete-btn:hover{
    background-color:#6F1E51;

} 

.rate-btn{
    display: inline-block;
    margin-top: 10px;
    padding:10px 50px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color:black;
}

.show-products{
    padding-top: 0; 
}
.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap:20px;
    max-width: 1200px;
    margin:0 auto;
    align-items: flex-start;
}
.show-products .box-container .box{
    text-align: center;
    padding:15px;
    border-radius: 12px;
    border:1px solid #000000;
    box-shadow: 0 8px 15px #000000;
    background-color: #ffffff;
}

.show-products .box-container .box img{
    height: 200px;
    width: 200px;
}

.show-products .box-container .box .name{
    padding:10px 0;
    font-size: 18px;
    color:#000000;
    font-weight: bold;
}

.show-products .box-container .box .price{
    padding:10px 0;
    font-size: 20px;
    color:#ff0000;
}
.edit-product-form{
    height: 1200px;
    background-color: #000000;
 
    align-items: center;
    justify-content: center;
    padding:50px;
    overflow-y: scroll;
    top:0; left:0; 
    z-index: 1200;
    width: 100%;
}

.edit-product-form form{
    width: 500px;
    padding:30px;
    text-align: center;
    border-radius: 6px;
    background-color: #ffffff;
}

.edit-product-form form img{
    height: 200px;
    margin-bottom: 10px;
}

.edit-product-form form .box{
    margin:10px 0px;
    padding:10px 15px;
    border:1px solid #000000;
    border-radius: 6px;
    background-color: rgb(173,216,230);
    font-size: 20px;
    color:#000000;
    width: 450px;
}

.edit-product-form form .lbl{
    width: 100%;
    display: block;
    background-color: rgb(173,216,230);
    border:1px solid #000000;
    border-radius: 8px;
    text-align: left;
    font-size:20px;
    margin:15px 0;
    padding:15px 12px;
}

.edit-product-form form .rdo{
    margin:0 15px;
    height:20px;
    width:20px;
    color: #7fa047;
}
.caption{
    text-align: center;
    text-transform:capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}
.add-product a{
    padding:10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 8px 15px #000000;
    border:1px solid #000000;
    display: block;
    width:20%;
    margin:auto;
    left:50%;
}

.add-product form{
    background-color: #ffffff;
    border-radius:0 30px;
    padding:30px;
    text-align: center;
    box-shadow: 0 8px 15px #000000;
    border:1px solid #000000;
    max-width: 600px;
    margin:0 auto;
}

.add-product form h3{
    font-size: 30px;
    text-transform: uppercase;
    color:#000000;
    margin-bottom: 20px;
}

.add-product form .box{
    width: 100%;
    background-color: rgb(173,216,230);
    border-radius: 8px;
    margin:15px 0;
    padding:15px 12px;
    color:#000000;
    font-size: 20px;
    border:1px solid #000000;
}
.add-product form .lbl{
    width: 100%;
    display: block;
    background-color: rgb(173,216,230);
    border:1px solid #000000;
    border-radius: 8px;
    text-align: left;
    font-size:20px;
    margin:15px 0;
    padding:15px 12px;
}
.add-product form .rdo{
    margin:0 15px;
    height:20px;
    width:20px;
    color: #7fa047;
}
.user-box{
    position: absolute;
    top:120%; right:20px;
    background-color: white;
    border-radius: .50px;
    box-shadow: 5px 10px rgba(0,0,0,.1);
    border:.10px solid black;
    padding:20px;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

.user-box.active{
    display: inline-block;

}

#user-btn{
    font-size: 30px;
    color:rgb(7, 7, 7);
    cursor: pointer;
    margin-left: 20px;
}

.user{
    font-size: 20px;
}

.user-box p{
    font-size: 20px;
    color:#666;
    margin-bottom: 25px;
}

.user-box p span{
    color:#dc2222;
}

.user-box .delete-btn{
    margin-top: 0;
}

.home{
    height: 500px;
    /* background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/studio-ris-natural-office-makeover-3.jpg) no-repeat; */
    background: url(../images/a.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home .content{
    text-align: center;
    width: 600px;
 }
 
 .home .content h3{
    font-size:50px;
    color:white;
    text-transform: uppercase;
    background-color:black;
    padding: 20px;
    border-radius: 40px 0;
    
 }